<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Introduction to AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <style>
            html, body
            {
                font-size: 1.1em;
            }
        </style>

        <!-- load angular via CDN -->
        <!-- version of angular being used for this course -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.9/angular-messages.min.js">    </script>
        <script src="https://code.angularjs.org/1.4.9/angular-resource.min.js"></script>
        <script src="app.js"></script>

    </head>
    <body>

    <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

      <div class="container">

			<div ng-controller="mainController">
      <!-- =========================== -->
        <!-- USED FOR THE ngMessages example -->

       <!-- <form name="myForm">
         <label>
           Enter text:
           <input type="text" ng-model="field" name="myField" required minlength="5" />
         </label>

         <div ng-messages="myForm.myField.$error" role="alert">
           <div class = "alert alert-danger" ng-message="required">You did not enter a field</div>
           <div class = "alert alert-danger" ng-message="minlength, maxlength">
             Your email must be between 5 and 100 characters long
           </div>
         </div>
       </form> -->
      <!-- ============================-->
        <!-- Refering to the maincontroller and what is defined in scope -->
        <!-- USED IN THE SCOPE AND INTERPOLATION EXAMPLE -->
        <!-- <h1> Hello {{name + '. How are you?'}} </h1> -->

      <!-- ============================-->
        <!-- USED WITH THE TWO WAY DATA BINDING EXERCISE -->
        <!-- <div>
          <label> What is your twitter handle?</label>
          <input type="text" ng-model="handle"/>
        </div>

        <hr />

        <h1>twitter.com/{{lowercasehandle()}}</h1> -->
      <!--============================= -->
      </div>

		</div>

    </body>
</html>
